@using DataLayer
@model IEnumerable<Perfumes>

@{
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<head>

    <link href="~/css/styles.css" rel="stylesheet" />
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/GetAllCategories.css" />
</head>

<table>
	<tr>
		<th>تصویر</th>
		<th>نام دسته بندی</th>
		<th>نام دسته بندی (لاتین)</th>
		<th>توضیحات</th>
		<th>عملیات</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
                <img src="/CategoryImages/@item.ImageName" class="thumbnail" style="max-width:120px"/>
            </td>
			<td>@item.PerfumeName</td>
			<td>@item.PerfumeNickName</td>
			<td>@item.PerfumeDescription</td>
			<td>
				<a class="btn btn-info btn-sm" href="/Admin/categories/Details/@item.CategoryId">جزیيات</a>
				<a class="btn btn-warning btn-sm" href="/Admin/categories/Edit/@item.CategoryId">ویرایش</a>
				<a class="btn btn-danger btn-sm" href="/Admin/categories/Delete/@item.CategoryId">حذف</a>
			</td>
		</tr>
	}
</table>

<a href="/admin/categories/create" class="btn btn-success"> جدید +</a>