.add-product-container {
    padding: 2rem;
    direction: rtl;
    font-family: "Vazirmatn", sans-serif;
    background-color: #f8f9fa;
    border-radius: 12px;
    margin: 2rem auto;
    max-width: 900px;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #343a40;
}

.product-form {
    display: flex;
    flex-direction: column;
}

.form-sections {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.upload-box {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.upload-area {
    position: relative;
    border: 2px dashed #ccc;
    border-radius: 12px;
    padding: 40px 20px;
    text-align: center;
    background: #f9f9f9;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;

}

.upload-area:hover {
    border-color: #b28704;
}

.upload-area input[type="file"] {
    opacity: 0;
    position: absolute;
    inset: 0;
    cursor: pointer;
}

.upload-icon {
    font-size: 3rem;
}

.upload-placeholder {
    position: relative;
    z-index: 2;
}


.product-details-section {
    flex: 2;
    min-width: 400px;
    background-color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: 1px solid #dee2e6;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control,
textarea {
    border-radius: 6px;
    border: 1px solid #ced4da;
    padding: 0.5rem;
    width: 100%;
}

.btn-success {
    margin-top: 1rem;
    width: 100%;
    font-size: 1.1rem;
    padding: 0.6rem;
    border-radius: 8px;
}
